@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
}

#qrImage {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

#component {
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 7%;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    padding: 5px;
    background-color: hsl(0, 0%, 100%)
}

h1 {
    font-family: Outfit;
    font-weight: 700;
}

p {
    font-family: Outfit;
    font-weight: 400;
    font-size: 15px;
}